In [121]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.dummy import DummyClassifier
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score, cross_validate, train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [122]:
dfs = []
for f in Path("data").iterdir():
    df = pd.read_csv(f)
    dfs.append(df)

df = pd.concat(dfs, ignore_index=True)

In [123]:
df = df[df["games_played"] == 82]

In [124]:
df.shape

(2110, 109)

In [125]:
int_cols = df.select_dtypes(include="int64").columns.tolist()
int_cols

['season', 'games_played']

In [126]:
obj_cols = df.select_dtypes(include="object").columns.tolist()
obj_cols

['team', 'name', 'team.1', 'position', 'situation']

In [127]:
columns_to_drop = int_cols + obj_cols

In [128]:
df.to_csv("raw_data.csv", index=False)

In [129]:
df_x = pd.read_excel("lol.xlsx")    
df_x.to_csv("lol.csv", index=False)

In [130]:
df_pts = pd.read_csv("lol.csv")
df_pts.head()

  team  season  playoff
0  NYI    2009        0
1  ANA    2009        0
2  CGY    2009        0
3  EDM    2009        0
4  CBJ    2009        0

In [131]:
df = df.merge(
    df_pts, 
    on=["team", "season"],
    how="left"
)

In [132]:
df = df.drop(columns=columns_to_drop)
df.head()

,xGoalsPercentage,corsiPercentage,fenwickPercentage,iceTime,xOnGoalFor,xGoalsFor,xReboundsFor,xFreezeFor,xPlayStoppedFor,xPlayContinuedInZoneFor,...,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,penalitiesFor,penalitiesAgainst,playoff
0,0.50,0.44,0.46,17835.0,147.46,21.73,10.04,28.67,4.80,78.25,...,17.0,3.50,1.80,1.80,23.53,23.53,22.79,NaN,NaN,0
1,0.50,0.48,0.49,300913.0,2466.97,238.16,172.96,545.72,81.21,1348.68,...,398.0,40.28,38.07,40.25,242.28,243.11,235.81,NaN,NaN,0
2,0.49,0.48,0.48,227463.0,1826.86,153.38,120.72,422.05,59.76,993.21,...,330.0,26.37,23.67,25.16,157.94,158.77,156.37,NaN,NaN,0
3,0.11,0.12,0.13,25976.0,64.43,7.35,3.46,8.03,1.90,18.50,...,9.0,9.82,12.21,12.90,55.38,55.38,51.26,NaN,NaN,0
4,0.91,0.90,0.88,29639.0,428.23,55.70,38.74,86.98,14.75,258.72,...,42.0,0.59,0.39,0.39,5.42,5.42,5.40,NaN,NaN,0

In [133]:
df.to_csv("starting_data.csv", index=False)

In [134]:
train_df, test_df = train_test_split(df)